.navbar-brand img
{
    max-height: 40px;
}
.navbar-brand
{
    font-family: 'lobster', cursive;
    font-size: 1.5rem;
}
.bg-light 
{
    background-color:#ffffff!important;
}
.nav-item
{
    font-family: 'Gilda Display', serif;
    font-size: large;
}
.navbar-light .navbar-nav .nav-link
{
    color: black;
}
.nav-link:hover
{
    color: #a04a4f;
}
header .row
{
    background-image: url(https://zupimages.net/up/20/13/ercu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
    clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 70%);  
}
h2
{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    margin-top: -5rem;
}
h3
{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    border-radius: 10px;
}
.vert
{
    background-color: #7a9259;
}
.bleu
{
    background-color: #798088;
}
#mer
{
    padding-top: 70px;
}
.rose
{
    background-color: #a04a4f;
}
#loisirs
{
    padding-top: 70px;
}
h4
{
    text-align: center;
    font-family: 'Lobster', cursive;  
}
.card-text
{
    text-align: center;
    font-family: 'Gilda Display', serif;
}
.presentation
{
    text-align: center;
    font-family: 'Gilda Display', serif;
}
.img-fluid
{
    height: 20rem;
    width: auto;
}

footer
{
    background-color: #dfceb7;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
footer a
{
    color:#a04a4f;
    font-size: 2rem;
    transition: all .2s ease-in-out;
    padding: .5rem;
}
footer a:hover
{
    color: white;
    text-decoration: none;
}