.navbar-brand img
{
    max-height: 40px;
}
.navbar-brand
{
    font-family: 'lobster', cursive;
    font-size: 1.5rem;
}
.bg-light 
{
    background-color:#ffffff!important;
}
.nav-item
{
    font-family: 'Gilda Display', serif;
    font-size: large;
}
.navbar-light .navbar-nav .nav-link
{
    color: black;
}
.nav-link:hover
{
    color: #a04a4f;
}
header .row
{
    background-image: url(https://zupimages.net/up/20/13/ercu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
    clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 70%);  
}
h2
{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    margin-top: -5rem;
}
@media (max-width: 768px) {  
    header .slogan{
        display: none;
    }
}
#offres .media span
{
    color: #a04a4f;
    font-size: 3rem;
    width: 4rem;
    text-align: center;
}
#offres .media
{
    padding: 0.5rem 1rem ;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#offres .media:hover
{
    background-color:#dfceb7;
}
h5
{
    text-align: justify;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
.text
{
    text-align: justify;
    font-family: 'Gilda Display', serif;
}
.photo1
{
    background-image: url(https://zupimages.net/up/20/15/yjae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}
.photo2
{
    background-image: url(https://images.pexels.com/photos/2290753/pexels-photo-2290753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}
footer
{
    background-color: #dfceb7;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
footer a
{
    color:#a04a4f;
    font-size: 2rem;
    transition: all .2s ease-in-out;
    padding: .5rem;
}
footer a:hover
{
    color: white;
    text-decoration: none;
}